@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* BACKGROUNDS */
  --color-bg: #daf4eb;
  --color-bg-dark: #112226;

  /* BRAND COLORS */
  --color-brand-turquoise: #3cccd9;
  --color-brand-turquoise-dark: #34a7a7;
  --color-brand-green: #a5d59e;
  --color-brand-green-dark: #294245;

  /* SURFACE COLORS */
  --color-surface-column: #bbe6da;
  --color-surface-column-dark: #2e4f47;

  --color-surface-button: #d2ede4;
  --color-surface-button-dark: #345a53;

  /* TEXT COLORS */
  --color-text-main: #1e3f3b;
  --color-text-main-dark: #e1f2f1;

  --color-text-brand: #014052;
  --color-text-brand-dark: #74d9d5;

  --color-text-header: #21b2cd;
  --color-text-header-dark: #6cccd1;

  /* ICONS */
  --color-contact-icon: #3aaeb5;
  --color-contact-icon-dark: #1ac3d6;
  --color-leaf-icon: #008000;
  --color-leaf-icon-dark: #7fcbc9;

  /* BORDERS & UNDERLINE */
  --color-underline: #83b67c;
  --color-underline-dark: #285b55;
}

/* TODO: To delete later */
* {
  box-sizing: border-box;
}
